body{
    font-family: sans-serif;
    background: -webkit-linear-gradient(to right, #ADD8E6,  white );
    background: linear-gradient(to right, #ADD8E6, white);
    padding-top: 150px; 
}
h1{
    text-align: center;

}
.container{
    align-items: center;

}
form{
    width: 35rem;
    margin:auto;
    color: black;
    text-align: center;
}
input{
    width: 100px;
    margin: 10px 0;
    border-radius: 5px;
    padding: 10px 200px;
    box-sizing: border-box;
}
button{
    background-color: #030804;
    color: white;
    padding: 10px 218px;
    border-radius: 5px;
    margin: 7px 0;
    font-size: 15px;
}
button:hover{
    opacity: 0.6;
    cursor: pointer;


}  
